[Unit]
Description=Babelnet Hujo service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --net=\"host\" --name babelnet-hujo -p 8080:8080 {{ babelnethujo_image_name }}"
ExecStop=/usr/bin/docker rm -f babelnet-hujo

[X-Fleet]
Conflicts=babelnet-hujo.*.service
