[Unit]
After=babelnet-index.1.service
Description=Babelnet Hujo service
Requires=babelnet-index.1.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --net=\"host\" --name babelnet-hujo -v /data:/data -p 8080:8080 {{ babelnethujo_image_name }}"
ExecStop=/usr/bin/docker rm -f babelnet-hujo

[X-Fleet]
Conflicts=babelnet-hujo.*.service
