# DOCKER-VERSION 1.0.1
# VERSION        0.5
# mesos-master
FROM debian:jessie
MAINTAINER Pablo Torres <pablo.torres.t@gmail.com>

RUN apt-get clean
RUN apt-get update -y
RUN apt-get install -y default-jdk maven git subversion wget sed unzip

# Get dependencies:
RUN wget https://github.com/dbpedia-spotlight/dbpedia-spotlight/archive/release-0.7.zip
RUN unzip release-0.7.zip
RUN git clone --progress https://github.com/ptorrestr/jawjaw
RUN git clone --progress https://github.com/ptorrestr/ws4j
RUN git clone --progress https://github.com/brendano/ark-tweet-nlp
RUN git clone --progress https://github.com/srdc/virt-jena
RUN git clone --progress https://github.com/ptorrestr/wget-maven-plugin

#Compile and install deps:
RUN cd dbpedia-* && mvn install -Dmaven.test.skip=true
RUN cd jawjaw* && mvn install -Dmaven.test.skip=true
RUN cd ws4j* && mvn install -Dmaven.test.skip=true
RUN cd ark-tweet* && mvn install -Dmaven.test.skip=true
RUN cd virt-jena && mvn install -Dmaven.test.skip=true
RUN cd wget-maven*/wget* && mvn install -Dmaven.test.skip=true

RUN git clone -b service http://ptorres:sanjayatheboss@gitlab.insight-centre.org/hujo/babelnetproject.git

EXPOSE 8080

CMD /usr/share/maven/bin/mvn -f /babelnetproject/pom.xml jboss-as:run -Dmaven.test.skip=true
